/*@import "bordertabs.css";	/* a style to render tabs using css borders */

/**
	Only changes colors and few aspects.
	=> Changing this will never break the rendering, but may remove valuable visual clues.
*/



/* ////////////////////////////////
	Basic style
//////////////////////////////// */



body {
	background-color:white;
	margin: 0;
	padding: 0;
	font-family:arial,verdana;
	}

a img {
	border:0;	/* no anchor border around images */
}



/* ////////////////////////////////
	Unique elements
//////////////////////////////// */



/* the title : 'RegexPresso' */
#title {
	font-family: arial,verdana,courier;
	font-size: 13pt;
	font-weight: bold;
	}
#title .presto {
	font-style:italic;
	color: #0092FF;
}

/* for beta releases ; blink is not implemented in IE6, though */
#title .beta {
	color: #FF9900;
	text-decoration: blink;
	}

/* version ² */
#title .square {
	color: #0092FF;
	font-size: smaller;
	vertical-align:sub;
}


/* A div container for important messages. Those messages may be of class 'error' */
#warning {
	background-color: red;
	color: white;
	font-weight: bold;
	padding: 2pt;
	}

#input_subject_resizer:hover {
	cursor:move;
	cursor:s-resize;
}


/* ////////////////////////////////
	Specific elements
//////////////////////////////// */



/* any error message */
.error {
	color: red;
}

img.topmenu:hover, #section_menu a.hover img {
	background:#DBDBFF;
}

.spacer {
	display: block;
	background:none;
	margin:0;
	padding:0;
	margin-top:1em;
}

/* documentation / external resources */
a.doc {
	font-size:10pt;
	text-decoration:none;
}

li.doc {
	list-style-image: url(../pix/paperclip.gif);
}

ul.doc {
	margin:0;
	padding-left:2em;
}

/* accordion 'titles' */
.accordion_toggler {
	font-family: arial,verdana,courier;
	font-size: 13pt;
	font-weight: bold;
	background-color: #BBBBBB;
	margin:0;
	padding-left:1em;
	border-top:solid gray 1px;
}

/* the active accordion togglers */
h1.on, h2.on {
	background-color:#DDDDDD;
	/*border-bottom:dotted #BBBBBB 1px;*/
}



/* alternate appearance of the description fields */
.desc_again {
	font-style:italic;
}



/* ////////////////////////////////
	Form fields
//////////////////////////////// */



form {
	margin: 5px;
}

/* The 'input' class highlights the tag as beeing an input zone */
.input {
	border: solid #0092FF 2px;
}

/* on hover */
.input:hover {
	border-color:#DB496D;	/* nice fruity purple */
	}

/* on focus for editable inputs */
input[type=text]:focus, textarea:focus, .tabbed_panel:focus {
	background-color:#FFCCFF;
	}

input[type=button], input[type=submit] {
	font-family:arial, verdana;
	font-size:9pt;
	border:none;
	outline: solid #0092FF 2px;
	}

input[type=checkbox] {
	border:solid #DBFF92 1px;
}

.input_box {
	font-size:8pt;
}

.input_regex_flags {
	margin-top:0.5em;
	text-align: justify;
}



/* ////////////////////////////////
	Tabbed input fields : the regular expression pattern
//////////////////////////////// */



#section_regex .tab {
	padding-left:0.5em;
	padding-right:0.5em;
	font-weight:bold;
	color:#666666;
	font-size:8pt;
	background-color:#a1a6a9;
}

/* only the selected tab */
#section_regex .tabs .on {
	color:black;
}

#section_regex .tabbed_panels {
	padding:1em;
	padding-left:0.7em;
	padding-right:0.7em;
}

#section_regex .tabbed_panels, #section_regex .tabs .on {
	background-color:#DBFF92;	/* pastel green */
}

.tabbed_panel .note {
	font-size:smaller;
	color:gray;
	/*font-style:italic;*/
	margin-bottom:1em;
}


/* ////////////////////////////////
	Options
//////////////////////////////// */



/*#options {
	font-size:small;
	background-color:#E1E1FF;
}*/



/* ////////////////////////////////
	Results
//////////////////////////////// */


/* invisible characters, represented as 'light' symbols */
.nonPrintableLight {
	font-weight:normal;
	padding:0;
	color:#DB0000;
	font-family:"Lucida sans Unicode", arial, verdana, "courier new"; /* the font has to be Unicode because special characters are not always included in standard fonts */
}
/* invisible characters, reprensented as a 2 or 3 letters word */
.nonPrintableDark {
	font-weight:bold;
	padding:0;
	padding-left:2px;
	padding-right:2px;
	color:white;
	background:red;
	font-family: arial bold, verdana, "courier new";
	font-size:smaller;
	border-left:dotted white 1px;	/* to show the limit when 2 special chars are concatenated */
}

/* text mode */
.highlight { background-color:#DBFF00; border:dotted #999999 1px; }
.highlight_empty { background-color:yellow; border:dotted #999999 1px; }
.highlight_index {
	background:black;
	color:white;
	font-weight:bold;
	font-family:courier;
	border:none;
	padding:0;
	margin:0;
}

/** Unfortunately (I'm starting to believe it's not due to misfortune),
	IE messes up the ".highlight>.highlight" CSS 2 notation,
	so we must use a separate class to render highlights inside highlights.
	Don't even think about having :before and :after working with IE, either. */
.highlight_backref { background-color:white; border:none; border-left:dotted #999999 1px; }
.highlight_backref:before, .highlight_backref:after { color:#999999; }
.highlight_backref:before { content:"("; }
.highlight_backref:after { content:")"; }

/* empty matches : for those browsers that just cannot guess the right font by themselves ; tested on WinXP only */
.highlight_empty, .match_empty, .backref_empty { font-family:"Lucida sans Unicode"; font-size:x-small; }
