/**
	Only changes colors and few aspects.
	=> Changing this will never break the rendering.
*/

* {
	margin: 0;
	padding: 0;
	}

body {
	background-color:#EEEEEE;
	padding:8px;
	font-family:arial,verdana;
	}

/* the title : 'RegexPresso' */
#title {
	font-family: arial,verdana,courier;
	font-size: 13pt;
	font-weight: bold;
	}
	
#title .presto {
	font-style:italic;
	color:red;
	}

/* for beta releases ; blink is not implemented in IE6, though */
#title .beta {
	color: #FF9900;
	text-decoration: blink;
	}

/* important messages */
#warning {
	background-color: red;
	color: white;
	font-weight: bold;
	padding: 2pt;
	}

.error {
	color: red;
	}

.accordion {
	background-color:yellow;
	}

